li{
    list-style: none;
}
.header{
    background-color:cadetblue;
    height: 90px;
}
.main{
    background-color:lightsteelblue;
    height: 600px;
}
.footer{
    background-color:#2f5167;
    height: 270px;
}
