li{
    list-style: none;
    color: white;
    float: left;
}
.header{
    background-color:cadetblue;
    height: 90px;
}
.header-logo{
    font-size: 36px;
    color:white;
    float: left;
}
.main{
    background-color:lightsteelblue;
    height: 600px;
}
.footer{
    background-color:#2f5167;
    height: 270px;
}

