li{
    list-style: none;
    color: white;
}
.header{
    background-color:cadetblue;
    height: 90px;
}
.header-logo{
    font-size: 36px;
    color:greenyellow;
    float: left;
    padding: 20px 40px;
}
.header-list li{
    float: left;
    padding: 33px 20px;
}
.main{
    background-color:lightsteelblue;
    height: 600px;
}
.footer{
    background-color:#2f5167;
    height: 120px;
    padding: 40px;
}
.footer-logo{
    color: greenyellow;
    font-size: 32px;
    float: left;
}
.footer-list{
    float: right;
}
.footer-list li{
    padding-bottom: 20px;
}